{% extends 'base.html' %} {% load static %} {% load staticfiles %}

{% block content %}
    {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Cambiar contraseña</button>
    </form>
    {% else %}
        <p style="text-align: center; font-size: x-large;">
            El link de restauracion de contraseña es invalido, Posiblemente yo lo has usado.
            Por favor solicite uno nuevo desde <a style="color: blue; " href="{% url 'password_reset' %}"> aqui</a>.
        </p>
    {% endif %}



{% endblock %}
