{% extends 'base.html' %}
{% block extra_head %}<title>Terminos y condiciones</title>{% endblock %}


{% block content %}

                <h5>Terminos y condiciones</h5>
                <p>Si duis senserit graviterque. Duis iudicem consectetur. Excepteur eram probant
                    commodo, se iudicem praesentibus, elit incididunt ita veniam fugiat eu ab ubi
                    quae pariatur, ingeniis malis commodo, admodum magna quibusdam ullamco, ubi quae
                    illum magna singulis, non officia cohaerescant. Officia malis et consequat
                    domesticarum, cupidatat enim sunt cupidatat multos. Sed incididunt quo vidisse
                    si est ab lorem eram duis ea expetendis duis aut probant domesticarum non quae
                    ita eu fugiat proident ea litteris aut voluptate, litteris familiaritatem sed
                    mandaremus, ad culpa incididunt ad ab fore aliquip. Eu quae de minim, aliqua
                    singulis offendit, hic anim distinguantur, hic ab relinqueret an ne quid enim
                    aute laborum ne non excepteur ne quamquam an iis iis legam commodo ab ut summis
                    pariatur eruditionem. Elit sempiternum mandaremus illum arbitror.
                </p>
                <p>Fabulas adipisicing ex admodum, deserunt cillum ipsum si legam. Quamquam
                    illustriora id iudicem in illum e iudicem eu amet ubi summis te quamquam do
                    varias ut e qui quis minim malis. An cernantur ut eiusmod non ea velit sunt quis
                    offendit, quorum nescius est incurreret, ut quae noster si expetendis sed a
                    minim sempiternum aut se appellat illustriora hic ut irure se enim ut ipsum
                    voluptatibus quibusdam legam doctrina. Offendit summis quid doctrina fugiat ut
                    commodo quem dolor occaecat noster. Dolore se voluptate ex velit, dolore
                    quamquam admodum. Est magna probant.</p>
                <p>Ab fore mandaremus mentitum. Mandaremus enim incurreret, enim et aut duis
                    singulis quo ut doctrina exercitation, duis laborum a laboris. Fugiat
                    arbitrantur mentitum malis mandaremus, culpa eruditionem arbitror quorum
                    incididunt et cupidatat ab eiusmod, eu fugiat amet nam admodum. Aliquip an sunt
                    expetendis, culpa iis aut quid aliquip, dolor expetendis officia, si quis e
                    ipsum in aute illustriora ingeniis magna eiusmod id ut aut legam esse irure,
                    nulla litteris se ingeniis a malis laboris de nostrud. Arbitror quae mentitum an
                    non laboris aut quamquam ab aute familiaritatem possumus multos offendit, a
                    iudicem id admodum. Amet senserit eu malis quem. An se veniam deserunt se qui
                    enim eiusmod ab enim proident graviterque nam cernantur exquisitaque ex ullamco.</p>
                <a href="{% url 'account:login' %}">Volver al login</a>

{% endblock %}
