certifi==2018.11.29
chardet==3.0.4
Django==1.11.2
django-filter==1.0.4
django-material==1.0.0
djangorestframework==3.6.3
djangorestframework-filters==0.10.1
geopy==1.11.0
gunicorn==19.9.0
idna==2.8
olefile==0.44
Pillow==4.2.0
psycopg2==2.7.3
python-dateutil==2.6.1
pytz==2017.2
requests==2.21.0
six==1.10.0
urllib3==1.24.1