<h6><img src='http://icons.iconarchive.com/icons/wineass/ios7-redesign/16/Weather-icon.png'/> {{estacion.nombre}}</h6>
<div class='divider red'></div>
<b>Temperatura: </b>{{estacion.temperatura}}<br>
<b>Humedad: </b>{{estacion.humedad}}<br>
<b>Presión: </b>{{estacion.presion}}<br>
<b>Radiacion Solar: </b>{{estacion.radiacionSolar}}<br>
<b>Precipitación diaria: </b>{{estacion.precipitacionDia}}<br>
<b>Velocidad del Viento: </b>{{estacion.velocidadViento}}<br>
<b>Dirección del Viento: </b>{{estacion.direccionViento}}<br>
