{% extends 'base_fe.html' %}
{% load static %} {% load staticfiles %} {% load tags_vars %}

{% block extra_head %}
<title>Visualizador de Radar - Grupo Radar Córdoba</title>
{% endblock %}

{% block header %}
<!-- LEAFLET-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
      integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
      crossorigin=""/>
<link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}">
<link rel="stylesheet" href="{% static 'css/radar_style.css' %}">
<link rel="stylesheet" href="{% static 'css/radar_viewer.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}

{% block content %}
<!-- Loading indicator -->
<div id="gif_radar_cont" style="display:none;">
    <div id='gif_radar_img'>
        <h5 style="font-size:10px;"><span id='loader_string'>Cargando imágenes</span><span class="loader-dots">...</span></h5>
        <img src="{% static 'images/radar.gif' %}" width="85px"/>
    </div>
</div>

<!-- Top info bar -->
<div id="data" class='radar-info-bar' style="background-color: #fafafa">
    <div class='row' style="margin-bottom: 0;">
        <div class='col m4 s12'>
            <span class="info-label">Rango:</span> 
            <span id="date_range_from" class="info-value"></span> - <span id="date_range_to" class="info-value"></span>
        </div>
        <div class='col m4 s12'>
            <span class="info-label">Mostrando:</span>
            <span id='fecha-valor' class='info-value'>--</span>
            <span class="info-label">(Frame <span id='frame-valor'>1</span> de <span id='frame-max'>1</span>)</span>
        </div>
        <div class='col m4 s12'>
            <span class='right-align' id="mouse-position"></span>
        </div>
    </div>
</div>

<!-- Logo -->
<div class='logo'>
    <img class='hide-on-small-only' src="{% static 'images/grc_ohmc.png' %}" height="85px">
    <img class='hide-on-med-and-up' src="{% static 'images/grc_ohmc.png' %}" height="45px">
</div>
<div class='logo_inst'>
    <img class='hide-on-small-only' src="{% static 'images/logos_inst_grande.png' %}" width="200px">
    <img class='hide-on-med-and-up' src="{% static 'images/logos_inst_grande.png' %}" width="100px">
</div>

<!-- Floating action button -->
<div class="fixed-action-btn click-to-toggle radar-fab" style="z-index: 100000">
    <a class="btn-floating btn-large blue pulse">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a href="#" data-activates="side-radar-config" 
               class="btn-floating cyan button-sidenave sidenav-effect tooltipped"
               data-position="left" data-delay="50"
               data-tooltip="Configuración de Radar">
                <i class="material-icons">settings</i>
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="#" data-activates="side-radar-layers" 
               class="btn-floating orange button-sidenave sidenav-effect tooltipped"
               data-position="left" data-delay="50"
               data-tooltip="Productos de Radar">
                <i class="material-icons">layers</i>
            </a>
        </li>
        <li class="waves-effect waves-light">
            <a href="#" onclick="toggleFullscreen()" 
               class="btn-floating green tooltipped"
               data-position="left" data-delay="50"
               data-tooltip="Pantalla Completa">
                <i class="material-icons">fullscreen</i>
            </a>
        </li>
        <li class="waves-effect waves-light">
            <button data-target="help_modal" data-position="left" data-delay="50"
                    data-tooltip="Ayuda"
                    onclick="$('.fixed-action-btn').closeFAB();"
                    class="btn-floating yellow tooltipped modal-trigger">
                <i class="material-icons">help</i>
            </button>
        </li>
    </ul>
</div>

<!-- Configuration Panel -->
{% include 'radar_config_panel.html' %}

<!-- Radar Layers Panel -->
{% include 'radar_layers_panel.html' %}

<!-- Map container -->
<div id="map">
    <div id="popup"></div>
</div>

<!-- Playback Controls -->
<div id="playback-controls" class="radar-playback-controls">
    <div class="playback-container">
        <div class="control-buttons">
            <button id="click_fast_rewind" class="btn-floating btn-small waves-effect waves-light blue tooltipped" 
                    data-position="top" data-tooltip="Ir al inicio">
                <i class="material-icons">fast_rewind</i>
            </button>
            <button id="click_skip_previous" class="btn-floating btn-small waves-effect waves-light blue tooltipped" 
                    data-position="top" data-tooltip="Frame anterior">
                <i class="material-icons">skip_previous</i>
            </button>
            <button id="click_play_arrow" class="btn-floating waves-effect waves-light blue tooltipped" 
                    data-position="top" data-tooltip="Reproducir">
                <i class="material-icons">play_arrow</i>
            </button>
            <button id="click_skip_next" class="btn-floating btn-small waves-effect waves-light blue tooltipped" 
                    data-position="top" data-tooltip="Frame siguiente">
                <i class="material-icons">skip_next</i>
            </button>
            <button id="click_fast_forward" class="btn-floating btn-small waves-effect waves-light blue tooltipped" 
                    data-position="top" data-tooltip="Ir al final">
                <i class="material-icons">fast_forward</i>
            </button>
        </div>
        
        <div class="timeline-container">
            <input type="range" id="actual_frame" min="1" max="25" value="1" step="1" class="radar-timeline-slider">
        </div>
        
        <div id="velocidad" class="speed-control" style="display:none;">
            <span class="speed-label">Velocidad:</span>
            <input type="range" id="speed-field" min="10" max="100" value="50" step="10" class="speed-slider">
            <span id="speed-span" class="speed-value">50%</span>
        </div>
    </div>
</div>

<!-- Help Modal -->
<div id="help_modal" class="modal">
    <div class="modal-content">
        <h4>Ayuda - Visualizador de Radar</h4>
        <div class='divider yellow yellow-text'></div>
        <h6>Controles de Reproducción</h6>
        <ul class="collection">
            <li class="collection-item">
                <i class="material-icons tiny">play_arrow</i> 
                <b>Reproducir/Pausar:</b> Inicia o pausa la animación de las imágenes de radar
            </li>
            <li class="collection-item">
                <i class="material-icons tiny">skip_next</i> 
                <b>Frame siguiente/anterior:</b> Navega frame por frame manualmente
            </li>
            <li class="collection-item">
                <i class="material-icons tiny">fast_forward</i> 
                <b>Ir al inicio/final:</b> Salta al primer o último frame disponible
            </li>
        </ul>
        
        <h6>Selección de Productos</h6>
        <ul class="collection">
            <li class="collection-item">
                Usa el panel de <b>Productos de Radar</b> para seleccionar qué variables mostrar
            </li>
            <li class="collection-item">
                Puedes seleccionar hasta 4 productos simultáneamente
            </li>
            <li class="collection-item">
                Ajusta la transparencia de cada producto con el control deslizante
            </li>
        </ul>
        
        <h6>Configuración de Tiempo</h6>
        <ul class="collection">
            <li class="collection-item">
                Usa rangos predefinidos (última hora, 3 horas, 6 horas, etc.)
            </li>
            <li class="collection-item">
                O selecciona una fecha/hora personalizada para explorar datos históricos
            </li>
        </ul>
        
        <h6>Atajos de Teclado</h6>
        <ul class="collection">
            <li class="collection-item"><kbd>Espacio</kbd> - Reproducir/Pausar</li>
            <li class="collection-item"><kbd>←</kbd> <kbd>→</kbd> - Frame anterior/siguiente</li>
            <li class="collection-item"><kbd>F</kbd> - Pantalla completa</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat yellow accent-3">Entendido</a>
    </div>
</div>

<!-- Radar Product References -->
{% for prod in radar_products %}
<div class='radar_products_references'
     id='radar_products_references-{{prod.product_key}}'
     {% if not prod.see_in_open %}style='display:none;'{% endif %}>
    {% if prod.references.count > 0 %}
    <div class='reference_box tooltipped'
         style='background-color: grey'
         data-position="top"
         data-delay="50"
         data-tooltip="{{prod.product_title}}">
        <b>{{prod.product_key}}</b>
    </div>
    {% endif %}
    <div class='row reference-row'>
        {% for ref in prod.references.all %}
        <div class='reference_box tooltipped'
             style='background-color: {{ref.color}}; color: {{ref.color_font}}'
             data-position="left"
             data-delay="50"
             data-tooltip="{{ref.title}}">
            <b>{{ref.value|floatformat:0}}</b>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script>
    var init_values = {};
    init_values['lat'] = {% if lat %} {{lat}} {% else %} -31.4 {% endif %};
    init_values['long'] = {% if long %} {{long}} {% else %} -64.2 {% endif %};
    init_values['zoom'] = {% if zoom %} {{zoom}} {% else %} 7 {% endif %};

    var polarimetrics_vars = [];
    var polarimetrics_vars_utils = {}
    {% for prod in radar_products %}
    polarimetrics_vars.push('{{prod.product_key}}');
    polarimetrics_vars_utils['{{prod.product_key}}'] = {
        'strategy':'{{prod.strategy}}',
        'scanning':'{{prod.scanning}}',
        'sweep':'{{prod.sweep}}',
        show_me:'{{prod.show}}'
    };
    {% endfor %}
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
<script src="{% static 'js/leaflet-search.js' %}"></script>
<script src="{% static 'js/leaflet-bouncemarker.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/nouislider.js' %}"></script>
<script src="{% static 'js/moments.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/radar_maps.js' %}"></script>
<script src="{% static 'js/radar_viewer.js' %}"></script>
<script src="{% static 'js/radar_animation.js' %}"></script>

<script>
    // Fullscreen toggle
    function toggleFullscreen() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen();
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }
    }
    
    // Keyboard shortcuts
    $(document).keydown(function(e) {
        if (e.target.tagName === 'INPUT') return;
        
        switch(e.which) {
            case 32: // Space
                e.preventDefault();
                $('#click_play_arrow').click();
                break;
            case 37: // Left arrow
                e.preventDefault();
                $('#click_skip_previous').click();
                break;
            case 39: // Right arrow
                e.preventDefault();
                $('#click_skip_next').click();
                break;
            case 70: // F key
                e.preventDefault();
                toggleFullscreen();
                break;
        }
    });
    
    // Initialize tooltips
    $('.tooltipped').tooltip();
    $('.modal').modal();
</script>
{% endblock %}
